
/* Media 1300============================
========================================*/
@media screen and (max-width: 1300px){

    header {
        height: auto;
    }
    .header-inner {
        padding: 0;
        flex-direction: column;
    }

    .form-container {
        position: absolute;
        right: 0;
        top: 10px;
        height: auto;

    }

    .logo {
        height: 44px;


    }
    .header-border {
        display: flex;
        width: 100%;
        height: 1px;
        background-color: #DDD;
    }
    .nav {
        width: 100%;
        justify-content: center;
        margin-right: 0;
    }
    .menu {
        margin-left: 0;
        width: 100%;
        grid-gap: 0;
    }

    .menu li {
        display: flex;
        margin: 0 auto;
    }
    .menu li:last-child {
        margin-left: 40px;
    }

    .btn-log_in {
        margin-right: 100px;
    }

    /*Main*/

    .frame-results {
        width: 300px;
        flex-direction: column;
        grid-gap: 0;
        align-items: center;
    }

    .list-results {
        justify-content: space-evenly;
    }

    .results-text {
        margin-top: 0;
    }

/* Media 680============================
========================================*/

@media screen and (max-width: 1030px){

    header {
        height: auto;
    }

    .logo {
        transform: translateX(45px);
    }
    .btn-log_in {
        margin-right: 45px;
    }

    /*Catalog*/

    .catalog-inner {
        height: 470px;
    }

    .catalog-content {
        margin-top: 65px;

    }

    .catalog-title {
        width: 390px;
        font-size: 50px;
    }
    .catalog-text {
        width: 390px;
    }

    .catalog-img {
        margin-left: 0;
        margin-right: auto;
        width: 270px;
        background-image: url(../img/Layer%202%20690.png);
    }

    /*Main*/

    .frame-results {
        width: 200px;
    }

    .main-img {
        width: 330px;
        margin: 0 auto 0;
        background-image: url(../img/Folder%20v8%20Open%201%20680.png);
        background-position: top center;
    }

    .main-title {
        margin-top: 0;
    }

    /*Details*/

    .details-inner {
        height: auto;
    }

    .details-group {
        flex-wrap: wrap;
        justify-content: center;
        grid-gap: 0;
        margin-bottom: 0;

    }

    .details-frame {
        display: flex;
        width: 50%;
        flex-direction: column;
        margin-bottom: 60px;
    }

    .details-img {
        width: 330px;
        margin: 0 auto;
    }

    .img-package {
        background-image: url(../img/package%20690.png);
    }

    .img-PaperBag {
        background-image: url(../img/Paper%20Bag%20680.png);
    }

    .img-Briefcase {
        background-image: url(../img/Briefcase%20680.png);
    }

    .img-BoxV7 {
        background-image: url(../img/Box%20680.png);
    }

    .details-title {
        width: 330px;
        margin-left: auto;
        margin-right: auto;
    }

    .circulation {
        width: 330px;
        margin-left: auto;
        margin-right: auto;
    }

    .details-text {
        width: 330px;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        overflow:auto;
    }

    .btn {
        width: 330px;
        margin-left: auto;
        margin-right: auto;
    }

    /*Brands*/

    .brands-inner {
        height: 100%
    }

    .brands-frame {
        grid-gap: 20px;
        width: 100%;
        height: 100%;
        margin: 60px auto;
    }

    .img-hahnemuhle {
        width: 150px;
        height: 80px;
        background-image: url(../img/Hahnemuhle%20680.png);
    }

    .img-canson {
        width: 150px;
        height: 80px;
        background-image: url(../img/Canson%20680.png);
    }

    .img-RoyalTalens {
        width: 150px;
        height: 80px;
        background-image: url(../img/Royal_Talens%20680.png);
    }

    .img-fabriano {
        width: 150px;
        height: 80px;
        background-image: url(../img/Hahnemuhle%20680.png);
    }


    /*Promo*/
    .promo-inner {
        justify-content: space-between
    }

    .promo-content {
        margin: 80px auto;
    }

    .promo-img {
        width: 369px;
        margin-left: 0;
        background-image: url(../img/Bock%20680.png);
        background-position: center right;
    }

}

/* Media 510============================
========================================*/

@media screen and (max-width: 745px) {

    /*Header*/

    .logo {
        transform: translateX(20px);
    }

    .btn-log_in {
        margin-right: 20px;
    }

    /*Catalog*/

    .catalog-content {
        margin-left: 20px;
    }
    .catalog-title {
        width: 286px;
        font-size: 38px;
    }

    .catalog-text {
        width: 286px;
        font-size: 16px;
    }

    .btn-catalog {
        width: 196px;
        height: 60px;
    }

    .catalog-img {
        width: 230px;
        margin-left: auto;
        background-image: url(../img/Layer%202%20510.png);
    }

    /*Main*/

    main {
        background: #EBEBEB;

    }
    .main-inner {
        height: auto;
    }
    .list-results {
        grid-gap: 0;
    }
    .frame-results {
        width: 150px;
    }
    .results-V1-img {
        width: 150px;
       background-image: url(../img/V.1%20Buissnes%20Cards%20v2%20510.png);
    }

    .results-V2-img {
        width: 150px;
        background-image: url(../img/V.2%20Buissnes%20Cards%20v6%20510.png);
    }
    .results-V3-img {
        width: 150px;
       background-image: url(../img/V.3%20Buissnes%20Cards%20v5%20510.png);
    }

    .V, .textV {
        font-size: 16px;
    }

    .main-content {
        width: auto;
        flex-direction: column;
        margin: 40px auto 0 40px;
    }

    .main-img {
        margin: 0;
        height: 255px;
    }
    .main-frame-text {
        margin: 0;
        width: auto;
        height: auto;
    }

    .main-title {
        width: 270px;
        font-size: 24px;
        height: auto;
    }

    .main-text {
        width: 510px;
        height: auto;
        font-size: 16px;
        margin-bottom: 60px;
    }


/*Detals*/

    .details-frame {
        height: auto;
    }

    .details-img {
        width: 240px;
    }

    .img-package {
        background-image: url(../img/package%20580.png);
    }

    .img-PaperBag {
        background-image: url(../img/Paper%20Bag%20510.png);
    }

    .img-Briefcase {
        background-image: url(../img/Briefcase%20510.png);
    }

    .img-BoxV7 {
        background-image: url(../img/Box%20510.png);
    }


    .details-title {
        width: 240px;
        font-size: 24px;
    }

    .circulation {
        width: 240px;
    }

    .details-text {
        width: 240px;
        font-size: 16px;
    }

    .btn {
        width: 240px;
    }

    /*Brands*/

    .brands {
        background: #EBEBEB;
        height: auto;

    }

    .brands-inner {
        height: auto;
    }

    .brands-frame {
        width: 510px;
        flex-wrap: wrap;
        grid-gap: 30px;
    }

    .brands-logo {
        width: 47%;
        height: 127px;
    }

    .img-hahnemuhle {
        width: 240px;
        height: 127px;
        background-image: url(../img/brands/hahnemuehle-logo-vector%20510.png);
    }
    .img-canson {
        width: 240px;
        height: 127px;
        background-image: url(../img/brands/Canson%20510.png);
    }

    .img-RoyalTalens {
        width: 240px;
        height: 127px;
        background-image: url(../img/brands/royal-talens-bv-logo-vector%20510.png);
    }

    .img-fabriano {
        width: 240px;
        height: 127px;
        background-image: url(../img/brands/Fabriano%20510.png);
    }

    /*Promo*/

    .promo-inner {
        flex-direction: column;
        width: 100%;
        height: 687px;
    }

    .promo-content {
        width: 510px;
        height: auto;
        margin: 0 auto 60px;
        padding: 0;
        order: 2;
    }

    .promo-title {
        width: 180px;
        font-size: 24px;
    }

    .promo-text {
        width: 510px;
        font-size: 16px;
    }

    .promo-img {
        width: 449px;
        height: 100%;
        margin: 20px auto 0;
        background-position: center;
        order: 1;
        background-image: url(../img/Bock%20510.png);
    }

    .btn-promo {
        width: 196px;
        height: 60px;
    }

    /*Footer*/

    .logo-wh {
        margin-left: 33px;
    }

    .icon-group {
        margin-right: 33px;
    }

}


/* Media 320============================
========================================*/

@media screen and (max-width: 530px) {

    /*Header*/

    .header-inner {
        height: 105px;
    }
    .logo {
        width: 100%;
        margin: 0;
        transform: translateX(0);
        justify-content: center;
    }

    .menu {
        flex-direction: column;
        background-color: #ddd;
        margin: 0;
        height: auto;
        position: absolute;
        z-index: 9;
    }

    .menu li {
        display: none;
        margin: 65px auto 0 20px;
    }

    .menu li:last-child {
        margin: 65px auto 40px 20px;
    }

    .toggleMenu {
        display: block;
        width: 30px;
        height: 43px;
        background-image: url(../img/List.png);
        cursor: pointer;
        background-repeat: no-repeat;
        border-color: #fff;
        position: absolute;
        top: 13px;
        left: 20px;
    }

    input.toggleMenu:checked ~ li{
        display: flex;
    }

    input.toggleMenu:checked ~ label.toggleMenu {
        background-image: url(../img/x.png);
        z-index: 99;
    }

    .form-container {
        top: 61px;
    }

    #btn-search:checked~.field-search {
        width: 140px;
    }

    /*Catalog*/

    .catalog {
        margin-top: 10px;
    }

    .catalog-inner {
        height: 328px;
    }

    .catalog-content {
        margin: 49px auto auto;

    }

    .catalog-title {
        font-size: 30px;
        width: 221px;
    }

    .catalog-text {
        font-size: 14px;
        height: auto;
    }

    .catalog-img{
        display: none;
    }

    .btn-catalog {
        width: 144px;
        height: 50px;
        margin-top: 21px;
    }

    /*Main*/

    .list-results {
        flex-direction: column;
        align-items: center;
    }

    .frame-results {
        flex-direction: row;
        width: 290px;
        height: 116px;
        align-items: flex-start;
        grid-gap: 30px;
    }

    .results-V1-img {
        background-image: url(../img/V.1%20Buissnes%20Cards%20v2%20320.png);
    }

    .results-V2-img {
          background-image: url(../img/V.2%20Buissnes%20Cards%20v6%20320.png);
    }

    .results-V3-img {
          background-image: url(../img/V.3%20Buissnes%20Cards%20v5%20320.png);
    }

    .results-V1-img, .results-V2-img, .results-V3-img {
        width: 130px;
        height: 96px;
    }


    .V, .textV {
        width: 130px;
        font-size: 14px;
    }
    .main-content {
        margin: 60px 0 0;
    }
    .results-text {
        width: 130px;
    }

    .main-img {
        width: 100%;
        background-image: url(../img/Folder%20v8%20Open%201%20320.png);
    }

    .main-frame-text {
        align-items: center;
    }
    .main-text {
        width: 290px;
    }


    /*Details*/

    .details-frame {
        width: 100%;
    }

    .details-img {
        width: 290px;
    }

    .img-package {
        background-image: url(../img/package%20320.png);
    }

    .img-PaperBag {
        background-image: url(../img/Paper%20Bag%20320.png);
    }

    .img-Briefcase {
        background-image: url(../img/Briefcase%20320.png);
    }

    .img-BoxV7 {
        background-image: url(../img/Box%20320.png);
    }

    .details-text {
        width: 290px;
        margin: 8px auto 0;
    }
    .details-title {
        width: 290px;
        margin: 20px auto 0;
    }

    .circulation {
        width: 290px;
        margin: 4px auto 0;
    }

    .btn {
        width: 290px;
        margin: 30px auto 0;
    }

    /*Brands*/

    .brands-frame {
        grid-gap: 10px;
    }
    .brands-logo {
        widows: 150px;
        height: 80px;
    }

    .img-hahnemuhle {
        width: 150px;
        height: 80px;
        background-image: url(../img/Hahnemuhle%20680.png);
    }

    .img-canson {
        width: 150px;
        height: 80px;
        background-image: url(../img/Canson%20680.png);
    }

    .img-RoyalTalens {
        width: 150px;
        height: 80px;
        background-image: url(../img/Royal_Talens%20680.png);
    }

    .img-fabriano {
        width: 150px;
        height: 80px;
        background-image: url(../img/Hahnemuhle%20680.png);
    }

    /*Promo*/

    .promo-inner {
        height: 100%;
        align-items: center;
    }

    .promo-content {
        width: 290px;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
    }
    .promo-text {
        width: 289px;
    }
    .promo-img {
        width: 290px;
        height: 281px;
        margin: 0;
        background-image: url(../img/Bock%20320.png);
    }

    .btn-promo {
        width: 144px;
        height: 50px;
    }


    /*Footer*/

    .footer-dark {
        height: 127px;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .logo-wh {
        margin: 0;
    }

    .icon-group {
        margin: 0;
    }

    .footer-border {
        display: flex;
    }




}

