body {
   margin: 0;
   font-family:'Roboto','Ubuntu',sans-serif;
   font-size: 18px;

}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

.container {
    width: 100%;
    max-width: 1440px;
    padding: 0 10px;
    margin: 0 auto;
   }

.page {
   width: 100%;
   height: 100vh;
   max-width: 1440px;
   position: relative;


}



.menu [type="checkbox"] {
    display: none
}

/* Header
================================ */
header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    position: relative;


}
.header-inner {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #DDD;



}

.logo {
    display: flex;
    align-items: center;
    box-sizing: border-box;

    width: auto;
    height: 22px;
    grid-gap: 5px;
    margin-right: auto;
    transform: translateX(85px);
}

.logo-text {
   color: #333;
   font-family: 'Ubuntu';
   font-size: 20px;
   font-style: normal;
   font-weight: 300;
   line-height: normal;
}

.logo-rectangle {
    width: 32px;
    height: 17px;
    border-radius: 11px;
    border: 1px solid #333;
}

.logo-ellipse {
    margin-top: 5px;

}

.header-border{
    display: none;
}

.nav {
    display: flex;
    margin-right: 60px;

}

.menu li, a {
   list-style: none;
   cursor: pointer;

   color: #4C5866;

   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   text-decoration: none;
   white-space:nowrap;
}

.menu li, a:hover {
     color: #7875FE;
}

.menu li, a:active {
     color: #4946B4;
}

.menu {
    display: flex;
    padding: 0;
    grid-gap: 60px;
    margin-left: 60px;
    justify-content: center;

    width: auto;
   }


.form-container {
    display: flex;
}

.warp-search [type="checkbox"] {
    display: none;
}

.warp-search {
    display: flex;
}

#search-icon {
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(../img/search/search.png);
    cursor: pointer;
    margin-right: 26px;
}

.field-search {
    width: 0;
    position: relative;
    overflow: hidden;
}

.field-search input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

#input {
    width: 224px;
    padding-right: 20px;
    border: 0;
    border-bottom: solid 1px #D1D1E5;
    color: #4C5866;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family:'Roboto','Ubuntu',sans-serif;
}

#input::-webkit-input-placeholder {
    font-family:'Roboto','Ubuntu',sans-serif;
    color: #D1D1E5;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.btn-input {
    position: absolute;
    width: 16px;
    height: 16px;
    background-image:url(../img/search/escape.png);
    background-color: transparent;
    right: 3px;
    top: 4px;
    cursor: pointer;
    border: 0;
}

#btn-search:checked~.field-search{
    width: 224px;
    transition-duration: 0.5s;
    transform: translateX(-10px);
}

.btn-log_in {
    display: block;
    margin-right: 165px;
    width: 24px;
    height: 24px;
    border: 0;
    background-image: url(../img/log-in/log-in.png);
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;
}

.btn-log_in:hover {
    background-image: url(../img/log-in/log-in=hover.png);
}

.btn-log_in:active {
    background-image: url(../img/log-in/log-in=active.png);
}



/* Catalog
================================ */

.catalog-inner {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 620px;
}

.catalog-content {
    margin: 130px auto 0;
}

.catalog-title {

    color: #4C5866;

   font-family: 'Roboto';
   font-size: 60px;
   font-style: normal;
   font-weight: 400;
   line-height: 100%;

    width: 444px;
}

.catalog-text {

    width: 445px;
    height: 110px;
    margin-top: 30px;

    color: #85859B;


    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
}

.btn-catalog {
    display: flex;
    margin-top: 30px;
    width: 255px;
    height: 70px;
    padding: 20px 50px;
    justify-content: center;
    align-items: center;

    border: 1px solid #7875FE;
    color: #7875FE;


    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.btn-catalog:hover {
    background: #7875FE;
    color: #fff;
}

.btn-catalog:active {
    background: #4946B4;
    color: #fff;
}

.catalog-img {
    margin: 0 auto 0;
    width: 540px;
    height: auto;
    background-image: url(../img/Layer%202%20copy.png);
    background-repeat: no-repeat;
    background-position: bottom center;
}



/* Main
================================ */


.main-inner {
    display: flex;
    width: 100%;
    height: auto;
    background: #EBEBEB;
    justify-content: center;
    flex-direction: column;

}

.list-results {
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: flex-start;
    grid-gap: 30px;
    margin-top: 90px;

}

.frame-results {
    display: flex;
    width: auto;
    height: auto;
    grid-gap: 30px;
    padding-bottom: 1px;
    flex-direction: row;
    justify-content: center;
    border-top: 1px solid #c0c0c0;
}

.results-V1-img {
    display: block;
    width: 160px;
    height: 118px;
    background-image: url(../img/V.1%20Buissnes%20Cards%20v2%2085x55.png);
    background-repeat: no-repeat;
    margin-top: 19px
}
.results-V2-img {
     display: block;
    width: 160px;
    height: 118px;
    background-image: url(../img/V.2%20Buissnes%20Cards%20v6%2085x55.png);
    background-repeat: no-repeat;
    margin-top: 19px
}
.results-V3-img {
     display: block;
    width: 160px;
    height: 118px;
    background-image: url(../img/V.3%20Buissnes%20Cards%20v5%2085x55.png);
    background-repeat: no-repeat;
    margin-top: 19px
}

.results-text {
    display: flex;
    width: 160px;
    height: 118px;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;
    margin-top: 19px;
}

.V {
    color: #666;
    text-align: left;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.textV {
    color: #85859B;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.main-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 90px auto 0;

}

.main-img {
    width: 730px;
    height: 564px;
    background-image: url(../img/Folder%20v8%20Open%201.png);
    background-repeat:no-repeat;
    margin: auto;

}

.main-frame-text {
    display: flex;
    width: auto;
    flex-direction: column;
    padding: 0 5px;
    margin-right: auto;
}

.main-title {
    width: 350px;
    height: 74px;
    flex-shrink: 0;
    margin-top: 45px;

    color: #666;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

.main-text {
    width: 350px;
    margin-top: 20px;
    color: #85859B;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
}

/* Details
================================ */

.details {
    display: flex;
}

.details-inner {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: auto;

}

.details-group {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    grid-gap: 29px;
    margin: 60px auto;
    justify-content: center;

}

.details-frame {
    display: block;
    width: 22%;
    height: auto;
}

.details-img {
    display: flex;
    width: 100%;
    height: 180px;
}

.img-package {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../img/Package_1110.png);
    background-repeat: no-repeat;
}

.details-title {
    margin-top: 20px;

    color: #666;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    white-space: nowrap;
}

.circulation {
    margin-top: 8px;

    color: #B5B5BD;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;

}

.details-text {
    height: 155px;
    margin-top: 8px;
    color: #85859B;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    overflow: scroll;

}

.btn {
    width: 130px;
    height: 23px;
    margin-top: 20px;
}

#bwb-btn,
#PB-btn,
#Briefcase-btn,
#BoxV7-btn {
    width: 107px;
    height: 23px;
    color: #7875FE;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    background: transparent;
    cursor: pointer;
}

#bwb-btn:active,
#PB-btn:active,
#Briefcase-btn:active,
#BoxV7-btn:active,
#bwb-btn:hover,
#PB-btn:hover,
#Briefcase-btn:hover,
#BoxV7-btn:hover {
    color: #4946B4;
}

.btn label {
    width: 25px;
    height: 20px;
    background-image: url(../img/log-in/Arrow%201.png);
    background-repeat: no-repeat;
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
    cursor: pointer;

}

.btn label:hover,
.btn label:active {
    background-image: url(../img/log-in/Arrow%20=hover.png);
}

.img-PaperBag {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../img/Paper%20Bag%201110.png);
    background-repeat: no-repeat;


}

.img-Briefcase {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../img/Briefcase%201110.png);
    background-repeat: no-repeat;
}


.img-BoxV7 {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../img/Box%201110.png);
    background-repeat: no-repeat;

}


/* Brands
=============================== */

.brands-inner {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 315px;

    background: #EBEBEB;

}

.brands-frame {
    display: flex;
    justify-content: center;
    grid-gap: 30px;
    width: 100%;
    height: 135px;

}


.img-hahnemuhle {
    width: 255px;
    height: 100%;
    background-image: url(../img/Hahnemuhle%201110.png);
    background-repeat: no-repeat;
    background-position: center;
    border: solid 2px #c4c4c4;
}

.img-canson {
    width: 255px;
    height: 100%;
    background-image: url(../img/Canson%201110.png);
    background-repeat: no-repeat;
    background-position: center;
    border: solid 2px #c4c4c4;
}

.img-RoyalTalens {
    width: 255px;
    height: 100%;
    background-image: url(../img/Royal_Talens%201110.png);
    background-repeat: no-repeat;
    background-position: center;
    border: solid 2px #c4c4c4;
}

.img-fabriano {
    width: 255px;
    height: 100%;
    background-image: url(../img/Fabriano%201110.png);
    background-repeat: no-repeat;
    background-position: center;
    border: solid 2px #c4c4c4;
}

/* Promo
================================= */

.promo-inner {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 500px;
    justify-content: center;
}

.promo-content {
    margin-top: 114px;
}

.promo-title {

    color: #666;

    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;

    width: 299px;
    height: 40px;
}

.promo-text {

    width: 350px;
    margin-top: 8px;

    color: #85859B;

    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
}

.btn-promo {
    display: flex;
    margin-top: 30px;
    width: 255px;
    height: 70px;
    padding: 20px 50px;
    justify-content: center;
    align-items: center;

    flex-shrink: 0;

    border: 1px solid #7875FE;


    color: #7875FE;


    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.btn-promo:hover {
    background: #7875FE;
    color: #fff;
}

.btn-promo:active {
    background: #4946B4;
    color: #fff;
}

.promo-img {
    display: block;
    width: 730px;
    height: auto;
    background-image: url(../img/Bock%201110.png);
    background-repeat: no-repeat;
    background-position: bottom center;
}


/* Footer
===================================*/

.footer-inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 101px;
}

.footer-dark {
    display: flex;
    width: 100%;
    height: 80px;
    background: #4C5866;
    align-items: center;
    justify-content: space-between;
}

.footer-light {
    display: flex;
    width: 100%;
    height: 21px;
    background: #ccc;
    justify-content: center;
    align-items: center;
}

.logo-wh {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 140px;
    height: 22px;
    grid-gap: 5px;
    margin-left: 165px;
}

.logo-text-wh {
   color: #fff;
   font-family: 'Ubuntu';
   font-size: 20px;
   font-style: normal;
   font-weight: 300;
   line-height: normal;
}

.logo-rectangle-wh {
    width: 32px;
    height: 17px;
    border-radius: 11px;
    border: 1px solid #fff;
}

.logo-ellipse-wh {
    margin-top: 5px;
}
.footer-border {
    display: none;
    width: 100%;
    height: 1px;
    background-color: #ddd;
    opacity: 0.2;
}
.icon-group {
    display: flex;
    width: 186px;
    height: 24px;
    justify-content: space-between;
    grid-gap: 30px;
    margin-right: 165px;
}

.icon-fb img {
    width: 24px;
    height: 24px;
}

.footer-text {
    color: #4C5866;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.footer-text span {
    color: #BCBCBC;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}













